/* Default styles */
body{
  font-family:  Helvetica, sans-serif;
  overflow-x: hidden;
}
.prediction-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.image-container img {
  margin-left: 0px;
  width: 500px;
  height: 400px;
}

.image-container .color img,
.image-container .blackwhite img {
  width: 100%;
  border-radius: 5px;
  filter: grayscale(100%);
}

.prediction-form-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.result p {
  text-align: center;
}

.result span {
  font-size: 2rem;
  font-weight: 600;
}

.prediction-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.disclaimer p{
  font-size: 15px;
  padding: 0 15px;
}

table {
/*            width: 100%;*/
            margin: 20px auto;
            border-collapse: collapse;
/*            background-color: #fff;*/
              box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

            border-radius: 0px;
            overflow: hidden;
        }

        th, td {
            border: 1px solid gray;
            padding: 10px;
            text-align: left;
        }

        th {
/*            background-color: #f2f2f2;*/
            font-weight: bold;
        }

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  align-items: start;
  padding: 15px;

}

.avatar img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.name-container {
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  body{
    max-width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .prediction-container {
    flex-direction: column;
  }

  .image-container img {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .prediction-form-container {
    max-width: 100%;
    margin-top: 25px;
  }
  input {
  padding: 8px;
  margin-bottom: 10px;
  width: 130px;
}

.image-container img {
  margin-left: 0px;
 /* width: 400px;
  height: 300px;*/
}
.info{
  padding: 0 15px;
}

}
